.akash {
    color: white;
    font-size: 45px;
    position: relative;
}

.akash::before {
    content: "";
    background-color: white;
    height: 7px;
    width: 80%;
    border-radius: 10px;
    top: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
