@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
.main_para{
    position: relative;
}
.main_para::before{
    content: "";
    height: 100%;
    width: 2%;
    right: 380px;
    border-radius: 20px;
    position: absolute;
    background-color: #006769;
}


.akash{
    font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
