.main_para{
    position: relative;
}
.main_para::before{
    content: "";
    height: 100%;
    width: 2%;
    right: 380px;
    border-radius: 20px;
    position: absolute;
    background-color: #006769;
}
